@{
    ViewData["Title"] = "Home Page";
}

<div ng-app="fatturaApp" ng-controller="fatturaCtrl">



    <!--Campi di ricerca e bottone-->
    <div class="row g-2">
        <div class="col-md">
            <div class="form-floating">
                <label for="NF">Numero fattura</label>
                <input type="text" class="form-control" id="NF" ng-model="ric.numeroFattura" />
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating">
                <label for="DF">Data fattura</label>
                <input type="date" class="form-control" id="DF" ng-model="ric.dataFattura" />
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating">
                <label for="DR">Data ricezione fattura</label>
                <input type="date" class="form-control" id="DR" ng-model="ric.dataRicezione" />
            </div>
        </div>
        <div class="col-md">
            
                <button class="btn btn-primary" type="button" ng-click="ricerca(ric)">
                    Cerca
                </button>
            
        </div>
    </div>
    <br />




    <!--Table-->
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">
                        Id
                    </th>
                    <th scope="col">
                        Numero fattura
                    </th>
                    <th scope="col">
                        Data fattura
                    </th>
                    <th scope="col">
                        Data ricezione
                    </th>
                    <th scope="col">
                        Intestatario
                    </th>
                    <th scope="col">
                        importo
                    </th>
                    <th scope="col">
                        Metodo pagamento
                    </th>
                    <th scope="col">
                        Pagatore
                    </th>
                    <th scope="col">
                        Data pagamento
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="fattura in fatture">
                    <th scope="row">#{{fattura.id}}</th>
                    <td>{{fattura.numeroFattura}}</td>
                    <td>{{fattura.dataFattura | date:"dd/MM/yyyy" : "+400"}}</td>
                    <td>{{fattura.dataRicezione | date:"dd/MM/yyyy" : "+400"}}</td>
                    <td>{{fattura.intestatario}}</td>
                    <td>{{fattura.importo}}</td>
                    <td>{{fattura.metodoPagamento}}</td>
                    <td>{{fattura.pagatore}}</td>
                    <td>{{fattura.dataPagamento | date: "dd/MM/yyyy" : "+400"}}</td>
                    <td>
                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#updateModal" ng-click="getFatturaById(fattura.id)">
                            Modifica
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>





    <!-- Modal -->
    <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form name="updateFattura" class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Fattura #{{fattura.id}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="reverse()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="text-align:center">


                    <div class="divSingoli">
                        <div>
                            <label class="labelModal">Numero fattura: </label>
                        </div>
                        <div>
                            <label id="labelDato" >{{fattura.numeroFattura}}</label>
                        </div>
                    </div>


                    <div style="display:inline-block">
                        <div>
                            <label class="labelModal">Data fattura: </label>
                        </div>
                        <div>
                            <label id="labelDato">{{fattura.dataFattura | date:"dd/MM/yyyy"}}</label>
                        </div>
                    </div>


                    <div class="divSingoli">
                        <div>
                            <label class="labelModal">Data ricezione fattura: </label>
                        </div>
                        <div>
                            <label id="labelDato">{{fattura.dataRicezione | date:"dd/MM/yyyy"}}</label>
                        </div>
                    </div>


                    <div class="divSingoli">
                        <div>
                            <label class="labelModal">Intestatario: </label>
                        </div>
                        <div>
                            <label id="labelDato">{{fattura.intestatario}}</label>
                        </div>
                    </div>



                    <div class="divSingoli">
                        <div>
                            <label class="labelModal">Importo: </label>
                        </div>
                        <div>
                            <label id="labelDato">{{fattura.importo}}</label>
                        </div>
                    </div>



                    <div class="divSingoli">
                        <div>
                            <label class="labelModal">Metodo pagamento: </label>
                        </div>
                        <div>
                            <input id="labelDato" type="text" ng-model="fattura.metodoPagamento" />
                        </div>
                    </div>



                    <div class="divSingoli">
                        <div>
                            <label class="labelModal">Pagatore: </label>
                        </div>
                        <div>
                            <input id="labelDato" type="text" ng-model="fattura.pagatore" />
                        </div>
                    </div>



                    <div class="divSingoli">
                        <div>
                            <label class="labelModal">Data pagamento:</label>
                        </div>
                        <div>
                            <input type="date" ng-model="fattura.dataPagamento" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" data-dismiss="modal" ng-click="updateFattur(fattura)">Salva</button>
                </div>
            </form>
        </div>
    </div>

</div>
